<% title 'Our Board' %>

<h1>Our Board</h1>
</div>

<div class = 'content-container'>
<div class="content">
    <div class="grid">
        <% @sorted.data.sort_board_members.each  do |memberdata| %>
            <div class="grid__item">
                <div class="product">
                    <div class="product__bg"></div>
                    <img class="product__img" src="<%= memberdata.photo %>" alt="<%= memberdata.first_name %> <%= memberdata.last_name %>"/>
                    <h2 class="product__title"><%= memberdata.first_name %> <%= memberdata.last_name %></h2>
                    <h3 class = "product__subtitle"></h3>
                    <div class="product__description"><%= raw memberdata.bio %></div>
                </div>
            </div>
        <% end %>
    </div>
</div>

 <%= javascript_include_tag 'imagesloaded.pkgd.min.js', 'anime.min.js', 'main'%>
