<% if @modal %>
  <div class="popup">
    <div class="popup__body" style = "background-image: url(<%= @modal.modal_image %>)">
    <div class="popup__overlay"></div>
    <div class="popup__overlay--purple"></div>
    <div class = "popup__close">x</div>
      <div class="popup__header">
        <%= @modal.modal_title %>
        
      </div>
      <div class="popup__description">
        <div class="popup__shape"></div>

         <%== @modal.modal_description %>
      </div>
      <div class="popup__footer">
        <a class="popup__button btn" href="<%= @modal.link%>"><%= @modal.modal_button_text%></a>
      </div>
      <a class='popup__link' href='/donate'>We can’t do this without you, donate today</a>

    </div>
  </div>
<% end %>

<div class = "banner banner--shadow">
  <div class = "banner__image" style = "background-image:url(<%= @bannerimage %>)"></div>
  <div class = "banner__text text-center">
    <div class = "banner__cell">
      <h2>Leaders in landmark litigation and high-impact advocacy that empowers communities to change the unjust legal system.
        <div class = "banner__buttons">
          <a href = "/donate" class = "btn mt-5">Take Action</a>
        </div>
      </h2>
    </div>
  </div>
  <div class = "banner__arrow">
    <%= image_tag("down-arrow.png") %>
  </div>
</div>


<div class = "featured__container">
  <div class = "triangle triangle--top"></div>
  <div class = "featured__block">
      <% @featuredcases.each do |item| %>

         <% if @featuredcases.count % 2 == 1 %>
              <div class = "case ">

                  <div class = "case__details">
                      <h5 class = "case__type">Featured</h5>
                      <h2 class = "case__title">
                          <% if item.alternate_title == "" %>
                              <%= item.case.fields.title %>
                          <% else %>
                              <%= item.alternate_title %>
                          <% end %>
                      </h2>
                      <p class = "case__description">
                          <% if item.alternate_summary == "" %>
                              <%= item.case.fields.summary %>
                          <% else %>
                              <%= item.alternate_summary %>
                          <% end %>
                      </p>
                      <a href = "/work/case/<%= item.case.slug %>" class = "case__link">More&nbsp;<i class="fas fa-caret-right"></i></a>
                  </div>
                  <div class = "featured__image">
                  </div>
              </div>
          <% end %>
      <% end %>
  </div>
  <div class = "triangle triangle--bottom"></div>
</div>

<div class = "resource-container">
  <div class = "resource-area">
    <h2 class = "text-center">COVID-19 Policy Resources</h2>
    <% @featuredresources.each do |item| %>
      <a href="<%= item.resources.file %>" class = "resource">
        <% if item.alternate_title %>
          <%= item.alternate_title %>
        <% else %>
          <%= item.resources.file_name %>
        <% end %>
        <span class = "view-link">View <i class="fas fa-caret-right"></i></span>
      </a>
    <% end %>
    <% if @featuredresources.count < 3 %>
      <a href="/resources" class = "resource resource__more">
        View All Resources
      </a>
      <% else %>
      <a class = "btn text-center" href = "/resources">View All Resources</a>
    <% end %>
  </div>
</div>

<div class = "newsletter-container">
  <div class = "newsletter-area">
      <h3>Sign-up for our Newsletter</h3>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="https://civilrightscorps.us14.list-manage.com/subscribe/post?u=1c2b18772807d9227b885e3ef&amp;id=d82c62d947" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

            <div class="mc-field-group">
              <label for="mce-EMAIL" class = "hidden">Email Address </label>
              <input type="email" value="Email Address" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1c2b18772807d9227b885e3ef_d82c62d947" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
          </div>
        </form>
      </div>
  </div>
</div>

<div class = "mission-statement">
  <div class = "mission-container">
    <h3>Our<br>Mission</h3>
    <p>Civil Rights Corps (CRC) is a non-profit organization dedicated to <b>challenging systemic injustice</b> in the United States’ legal system- a system that is built on <b>white supremacy and economic inequality</b>.
    <br><br> We work to shift power to community-led movements, particularly those <b>led by Black and Brown people</b> who are most affected by this legal system, so they can build sufficient power to <b>create structural change</b>.
    <br><br><a href = '/mission'>View our Full Mission Statement <i class="fas fa-caret-right"></i></a> </p>
  </div>
</div>