<% title 'Featured Media' %>


<h1>Media</h1>
</div>

<div class = 'content-container mw-1400'>
  <div class = "description">
    <%== @description%>
  </div>
  <% @videos.each_with_index do |video, index| %>
  <% video = video.featured_videos[0] %>
  <% if index == 0 %>
        <h3 class = "section-header mb-5">Featured Videos</h3>
  <div class = "row">

    <div class = "col-sm-8">
      <div data-toggle="modal" data-target="#<%= get_youtube_id(video.youtube_link) %>" class = "video__image video__image--large" style = "background-image: url(https://img.youtube.com/vi/<%= get_youtube_id(video.youtube_link) %>/hqdefault.jpg)"></div>
    </div>
    <div class = "col-sm-4 ">
      <div class = "video">
        <h3 data-toggle="modal" data-target="#<%= get_youtube_id(video.youtube_link) %>" class = "mt-0 video__title"><%= video.title %></h3>
        <h5 class = "video__source"><% if (video.source)%><%== video.source %><% end %></h5>

        <% clean = strip_tags(video.description)%>
        <p class = "video__description"><%= truncate( clean, :length => 350 ) %></p>
        <a class="mb-3 video__link" data-toggle="modal" data-target="#<%= get_youtube_id(video.youtube_link) %>" >Watch Video&nbsp;<i class="fas fa-caret-right"></i></a>
      </div>
    </div>
  </div>
  <% end %>

  <% if index == 1 %>
  <div class = "row background-black">
    <div class = "col-sm-5 background-white">
      <div class = "video video--small">
      <div data-toggle="modal" data-target="#<%= get_youtube_id(video.youtube_link) %>" class = "video__image video__image--small" style = "background-image: url(https://img.youtube.com/vi/<%= get_youtube_id(video.youtube_link) %>/hqdefault.jpg)"></div>
      <h3 data-toggle="modal" data-target="#<%= get_youtube_id(video.youtube_link) %>" class = "mt-4 video__title"><%= video.title %></h3>
      <h5 class = "video__source"><% if (video.source)%><%== video.source %><% end %></h5>

      <% clean = strip_tags(video.description)%>
      <p class = "video__description"><%= truncate( clean, :length => 350 ) %></p>
      <a class="video__link mb-3" data-toggle="modal" data-target="#<%= get_youtube_id(video.youtube_link) %>" >
        Watch Video&nbsp;<i class="fas fa-caret-right"></i>
      </a>
      </div>
    </div>
    <% end %>

    <% if index == 2 %>
    <div class = "col-sm-5 background-white">
      <div class = "video video--small">
        <div data-toggle="modal" data-target="#<%= get_youtube_id(video.youtube_link) %>" class = "video__image video__image--small" style = "background-image: url(https://img.youtube.com/vi/<%= get_youtube_id(video.youtube_link) %>/hqdefault.jpg)"></div>
        <h3 data-toggle="modal" data-target="#<%= get_youtube_id(video.youtube_link) %>" class = "mt-4 video__title"><%= video.title %></h3>
        <h5 class = "video__source"><% if (video.source)%><%== video.source %><% end %></h5>

        <% clean = strip_tags(video.description)%>
        <p class = "video__description"><%= truncate( clean, :length => 350 ) %></p>
        <a class="video__link mb-3" data-toggle="modal" data-target="#<%= get_youtube_id(video.youtube_link) %>" >
          Watch Video&nbsp;<i class="fas fa-caret-right"></i>
        </a>
      </div>
    </div>

    <div class = "col-sm-2">
      <div class = "cta--media">
        <div class = "cta__top-text">
            Support
        </div>
        <%= image_tag('large-logo.png')%>
        <div class = "cta__bottom-text">
            in our fight!
            <a href = "/donate" class = "btn cta-btn">Donate</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="modal fade video-modal" id="<%= get_youtube_id(video.youtube_link) %>" tabindex="-1" role="dialog" aria-labelledby="<%= get_youtube_id(video.youtube_link) %>" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title " ><%= video.title %></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9 ">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= get_youtube_id(video.youtube_link) %>?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <a href = "/media/videos" class = "btn mb-4 mt-3 float-right">View More Videos</a>


    <div class = "clearfix"></div>
      <div class = 'articles mt-5'>
            <h3 class = "section-header mt-5">Featured Articles</h3>

          <% @coverage.each do |media| %>
          <% media = media.featured_media_coverage[0] %>
          <div class = "article">
            <div class = "my-5">
              <h3 class ="article__title"><%= media.title %></h3>
              <h5 class="article__source"><a href = "<%= media.source_url %>" target="_blank"><%= media.author %>, <%= media.source_name %></a></h5>
              <p class = "article__description"><%== media.summary %></p>
              <a href = "<%= media.source_url %>" target = "_blank" class = "article__link">Read the Full Story&nbsp;<i class="fas fa-caret-right"></i></a>
            </div>
          </div>
          <% end %>


        <a href = "/media/coverage" class = "btn mb-4 mt-3 float-right">View More Articles</a>
    </div>
    <div class = "clearfix"></div>
