<nav aria-label="breadcrumb" class = "pb-5">
  <ol class="list-inline breadcrumbs">
   
     <li class="list-inline-item"><a class = "badge badge-primary" href="/work">Work</a></li>>
    <li class="list-inline-item"><a class = "badge badge-primary" href="/work/<%= @parent   %>"><%= @parent.gsub!("-"," ") %></a></li>>
    <li class="list-inline-item badge badge-light" aria-current="page"><%= @work.title %></li>
  </ol>
</nav>


<h1><%= @work.title %></h1>
    
<div class = "description"><%= raw @work.about_body %></div>

<% if @work.files.length > 0 %>
<div class = "">
    <div class="card-deck full-width">
        <% @work.files.each do |file| %>
            <div class="card">
            
                <a href="<%= file.file %>" class="card-body">
                    <h5 class="card-title"><%= file.file_title %></h5>
                    <p class="card-text"><%= file.description %> </p>
                </a>
            </div>
        <% end %>
    </div>
</div>
<% end %>

<h2 class = "mb-3 mt-5 text-center">Media Coverage</h2>
<% if @work.media_coverage.length > 0 %>
<div class = "row">
    <div class="card-deck">
        <% @work.media_coverage.each do |media| %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= media.article_title %></h5>
                    <p class="card-text"><a target = "_blank" href="<%= media.article_source_link %>"><%= media.article_source %></a> </p>
                    <p class="card-text"><%= raw media.summary %> </p>
                    
                    
                </div>
                <div class="card-footer">
                        <a target="_blank" href="<%= media.article_source_link %>" class="btn btn-primary">Read the Full story</a>
                    </div>
            </div>
        <% end %>
    </div>
</div>
<% end %>