<div class = "row">
<div class = "col-md-8">
<nav aria-label="breadcrumb" class = "pb-5">
  <ol class="list-inline breadcrumbs">
   
     <li class="list-inline-item"><a class = "badge " href="/work">Work</a></li>&bull;
    <% if @parent != "case" %><li class="list-inline-item"><a class = "badge " href="/work/<%= @parent   %>"><%= @parent.gsub!("-"," ") %></a></li>&bull;<% end %>
    <li class="list-inline-item" aria-current="page"><span class = "badge"><%= @work.title %></span></li>
  </ol>
</nav>


<h1><%= @work.title %></h1>
    
<div class = "description"><%= raw @work.about_body %></div>

    </div>
    <div class = "col-sm-4 pt-4">
        <% if @work.partners != "" %>
            <h3 class = "mb-3 mt-5 text-center anton text-uppercase">Partners</h2>
            <%== @work.partners%>
        <% end %>

        <h3 class = "mb-3 mt-5 text-center anton text-uppercase">Filings</h2>

        <% if @work.files.length > 0 %>
            <div class = "">
                <div class=" full-width">
                    <% @work.files.each do |file| %>
                        <div class="card">
                        
                            <a href="<%= file.file %>" class="card-body">
                                <h5 class="card-title"><%= file.file_title %></h5>
                                <p class="card-text"><%= file.description %> </p>
                            </a>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>

        <% if @work.media_coverage.length > 0 %>
            <h3 class = "mb-3 mt-5 text-center anton text-uppercase">Media Coverage</h2>
       
            <% @work.media_coverage.each do |media| %>
            
                        <h5 class="card-title"> <a target="_blank" href="<%= media.article_source_link %>"><%= media.article_title %></a></h5>
    
            <% end %>

        <% end %>
    </div>
</div>