<% title 'Our Docket' %>
<% meta_tag :description, @seo.data.docket_seo_description %>

<h1>Our Docket</h1>
</div>
<div class = 'content-container content-container--long-text'>
<% @states.each do |state| %>
   <div class="row full-width" id="<%= state.state_name %>">
    <% first = true %>

        <% @docket.each do |item| %>
            <% if item.state.slug == state.slug %>
                <% if first == true %>
                    <% if state != @states.first %>
                      <hr class = "full-width">
                    <% end %>
                    <div class = "col-md-4">
                      <h3 class = "text-center docket__state"><%= state.state_name %></h3>

                      <%= show_svg("#{state.abreviation.strip}.svg") %>
                    </div>
                    <div class = "docket__table-container col-md-8">
                      <div class = "cell">
                      <table class = "docket__table ">
                    <% first = false%>
                <% end %>



                    <% if !item.case.empty? %>
                        <tr>
                          <td>
                            <a href="/work/case/<%= item.case.slug %>" class="docket__type"><%= item.city %>  </a>
                          </td>
                          <td>
                          <td>
                            <h5 class="docket__city"><% if item.client_name != "" %><%= item.client_name %><% end %></h5>
                          </td>
                          <td>
                            <a href="/work/case/<%= item.case.slug %>" class="docket__type"><i class="fas fa-link"></i></a>
                          </td>
                        </tr>
                    <% end %>



            <% end %>
        <% end %>
          </table>
          </div>
          </div>
    </div>
<% end %>
