<div class="card-columns">
    <% @work.each do |workitem| %>
        <% item = workitem.data.fields %>
        <div class="card">
            <% if item.banner_image != "" %>
            <img class="card-img-top" src= "<%= item.banner_image %>" alt="Card image cap">
            <% end %>
            <div class="card-body">
                <h5 class="card-title"><a href = "/work/<%= workitem.data.slug %>"><%= item.title %></a></h5>
                <% if item.summary != "" %>
                    <p class="card-text"><%= item.summary %></p>
                <% else %>
                    <% clean = strip_tags(item.about_body)%>
                    <p class="card-text"><%= truncate( clean, :length => 160 ) %></p>
                <% end %>
            </div>
        </div>
    <% end %>
</div>