<div class = "card-columns two-column">
    <% @work.work_topic.each do |workitem| %>
        <a href = "/work/<%= workitem.url_slug %>" class="card">
            <% if workitem.landing_page_image != "" %>
            <img class="card-img-top" src= "<%= workitem.landing_page_image %>" alt="Card image cap">
            <% end %>
            <div class="card-body">
                <h5 class="card-title"><%= workitem.title %></h5>
                <% if workitem.short_description != "" %>
                    <p class="card-text"><%= workitem.short_description %></p>
                <% else %>
                    <% clean = strip_tags(workitem.long_description)%>
                    <p class="card-text"><%= truncate( clean, :length => 160 ) %></p>
                <% end %>
            </div>
        </a>
    <% end %>
</div>