<% title @work.title %>
<% meta_tag :description, @short_description %>

<h1><%= @work.title %></h1>

<% if @work.landing_page_image != "" %>
    <div class = "page-banner" style = "background-image:url(<%= @work.landing_page_image %>)"></div>
<% end %>
<div class = "description"><%== @work.long_description %></div>
<div class = "row">
    <% count = 1 %>
    <% @cases.each do |cas| %>
        <% if count % 2 == 1%>
            <div class = "table">
        <% end %>
  
          
                <a class="work-cell cell" href = "/work/<%= @work.url_slug %>/<%= cas.slug %>">
                <div>
                    <h5 class="card-title text-center"><%= cas.fields.title %></h5>
                    <p class="card-text"><%= cas.fields.summary %></p>
                    </div>
                </a>
     
 
        
        <% if count % 2 == 0%>
            </div>
        <% end %>
        <% count = count + 1 %>
    <% end %>
</div>
