<h1><%= @work.title %></h1>
<div class = "description"><%== @work.long_description %></div>
<div class = "row">
    <% @cases[0].each do |cas| %>
        <div class = "col-sm-6">
            <div class="card">
                <a class="card-body" href = "/work/<%= @work.url_slug %>/<%= cas.slug %>">
                    <h5 class="card-title"><%= cas.fields.title %></h5>
                    <p class="card-text"><%= cas.fields.summary %></p>
                </a>
            </div>
        </div>
    <% end %>
</div>
