<% title 'Our Fellows' %>

<h1>Our Artists and Poets in Residence</h1>

<div class="content">
  <p>Civil Rights Corps is excited to announce the launch of our art and poetry fellowship programs.  Each year, we will select a groundbreaking poet and artist whose work urgently confronts the subject matter of our civil rights work. They will be named the Civil Rights Corps Poet in Residence and Artist in Residence. </p>
  <p>Our criminal system’s ability to accomplish mass human caging to an extent never before seen in the recorded history of the modern world depends on ignoring and erasing the stories of the human beings on whom we inflict unspeakable suffering. The Poet and Artist will produce urgent and vivid works that communicate the humanity of our clients and others like them and that sheds light on the toll that the unjust practices in the criminal system takes on the bodies and minds of the people directly impacted by it and on our communities more broadly. </p>
  <p>The language used in police reports, court arguments, and prison budgets enables large-scale indifference; poetry and art make us understand, make us care, and make us act. </p>
  <div class = "text-center">
    <a href = "/team/fellows/gallery" class = "btn">View our Poet and Artist's Work</a>
  </div>
    <div class="grid">
        <% @sorted.fellows.each do |memberdata| %>
            <div class="grid__item">
                <div class="product">
                    <div class="product__bg"></div>
                    <img class="product__img" src="<%= memberdata.photo %>" alt="img 01"/>
                    <h2 class="product__title"><%= memberdata.first_name %> <%= memberdata.last_name %></h2>
                    <h3 class="product__subtitle"><%= memberdata.position %></h3>
                    <div class="product__description"><%= raw memberdata.bio %></div>
                </div>
            </div>
        <% end %>
    </div>
</div>

 <%= javascript_include_tag 'imagesloaded.pkgd.min.js', 'anime.min.js', 'main'%>
