<h1>Our Team</h1>

 <% @team.each do |memberdata| %>
    <% member = memberdata.data.fields %>
    <div class = "row">
        <div class = "col-md-4">
            <img class = "img-fluid" src = "<%= member.team_member_photo %>"/>
        </div>
        <div class = "col-sm-8">
            <h3><%= member.first_name %> <%= member.last_name %></h3>
            <% if member.bio_summary != "" %>
                <p class="card-text"><%= member.bio_summary %></p>
            <% else %>
                <% clean = strip_tags(member.bio)%>
                <p class="card-text"><%= truncate( clean, :length => 460 ) %></p>
            <% end %>
            <a href = "/team/<%= memberdata.data.slug %>" class = "btn btn-outline-primary">Learn More</a>
        </div>
    </div>
<% end %>
