 <nav class="header">
      <div class = "container">
         <% unless current_page?(root_path) %> 
                <div class="nav-item"> 
                    <h1><a href = "/" class = "brand">Civil Rights Corps</a></h1>         
                </div>
            <% end %>
        <ul class=" nav nav-fill nav-pills d-none d-lg-flex">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle <%= 'disabled' if params[:controller] == 'work' %>" href="/work" role="button" id="workDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work</a>
                 <div class="dropdown-menu" aria-labelledby="workDropdown">
                    <a class="dropdown-item" href="/work">Overview</a>
                    <a class="dropdown-item" href="/work/prosecutors-project">Prosecutor's Project</a>
                    <a class="dropdown-item" href="/work/indigent-defense-initiative">Indigent Defense Initiative</a>
                    <a class="dropdown-item" href="/work/wealth-based-detention">Wealth-Based Detention</a>
                    <a class="dropdown-item" href="/work/criminalization-of-poverty">Criminalization of Poverty</a>
                    <a class="dropdown-item" href="/work/docket">Our Docket</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= 'disabled' if params[:controller] == 'home#contact' %>" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= 'disabled' if params[:controller] == 'team' %>" href="/team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= 'disabled' if params[:controller] == 'board' %>" href="/board">Board</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/donate">Donate</a>
            </li>
        
            <li class="nav-item">
                <a class="nav-link" href="/media">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jobs">Jobs</a>
            </li>
        </ul>

        <div class = "mobile-header d-lg-none">

             <% unless current_page?(root_path) %> 
                <div class="float-left"> 
                    <h1><a href = "/" class = "brand">Civil Rights Corps</a></h1>         
                </div>
            <% end %>

            <div class = "float-right hamburger"><i class="fas fa-bars" data-toggle="modal" data-target="#mobileNav"></i></div>

            <div class="modal fade" id="mobileNav" tabindex="-1" role="dialog" aria-labelledby="mobileNav" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                    
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class=" nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link <%= 'disabled' if params[:controller] == 'work' %>" href="/work">Work</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link <%= 'disabled' if params[:controller] == 'home#contact' %>" href="/contact">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link <%= 'disabled' if params[:controller] == 'team' %>" href="/team">Team</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link <%= 'disabled' if params[:controller] == 'board' %>" href="/board">Board</a>
                                </li>
                               
                                <li class="nav-item">
                                    <a class="nav-link" href="/media">Media</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/jobs">Jobs</a>
                                </li>
                            </ul>
                        </div>
                   
                    </div>
                </div>
            </div>

        </div>
     </div>
</nav>