<% if current_page?(root_path) %>
<nav class="header">
  <div class = "float-left">
    <a href = "/" class = "header__logo--home"><%= image_tag("logo.png") %></a>
  </div>

  <div class = "float-right">

    <a class = "header__item d-none d-md-inline-block" target="_blank" href="http://www.facebook.com/civilrightscorps.org">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a class = "header__item d-none d-md-inline-block" target="_blank" href="https://twitter.com/CivRightsCorps">
      <i class="fab fa-twitter"></i>
    </a>
    <a class = "header__item d-none d-md-inline-block" target="_blank" href="https://www.instagram.com/civrightscorps/">
      <i class="fab fa-instagram"></i>
    </a>
    <a class = "header__item d-none d-sm-inline-block" href = "/#mc-field-group">
      Sign Up&nbsp; <i class="far fa-envelope"></i>
    </a>
    <a class = "header__item" href = "/donate">
      <%= image_tag("logo-mark.png") %> Donate
    </a>
    <div class = "header__item header__item--hamburger">
      <div class = "hamburger"><i class="fas fa-bars" data-toggle="modal" data-target="#mobileNav"></i></div>
    </div>
  </div>
</nav>


<% else %>

  <nav class = "interior-header">
    <div class = "interior-header__main">
      <div class = "float-left">
        <a class = "interior-header__logo" href = "/">
          <%= image_tag("logo.svg") %>
        </a>
      </div>
      <div class = "float-right">
        <a class = "header__item header__item--big header__item--text" target="_blank" href="/donate">
          Donate&nbsp;
        </a>
        <a class = "header__item header__item--big header__item--text" target="_blank" href="/newsletter">
          Sign Up&nbsp; 
        </a>
        <a class = "header__item header__item--big" target="_blank" href="http://www.facebook.com/civilrightscorps.org">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class = "header__item header__item--big" target="_blank" href="https://twitter.com/CivRightsCorps">
          <i class="fab fa-twitter"></i>
        </a>
        <a class = "header__item header__item--big" target="_blank" href="https://www.instagram.com/civrightscorps/">
          <i class="fab fa-instagram"></i>
        </a>
        <div class = "header__item header__item--big header__item--hamburger">
          <div class = "hamburger"><i class="fas fa-bars" data-toggle="modal" data-target="#mobileNav"></i></div>
        </div>
      </div>
    </div>

  </nav>


<% end %>
<div class="modal fade" id="mobileNav" tabindex="-1" role="dialog" aria-labelledby="mobileNav" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-times"></i>
  </button>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal__nav row">

                  <div class = "col-sm-6">
                    <li class="modal__item">
                        <a class="modal__link <%= 'disabled' if params[:controller] == 'work' %>" href="/work"> Our Work</a>
                        <div class="modal_submenu" aria-labelledby="workDropdown">
                           <a class="modal__link modal__link--sub" href="/work">Overview</a>
                           <a class="modal__link modal__link--sub" href="/work/wealth-based-detention">Challenging the Money Bail System</a>
                           <a class="modal__link modal__link--sub" href="/work/criminalization-of-poverty">Criminalization of Poverty</a>
                           <a class="modal__link modal__link--sub" href="/work/prosecutors-project">Prosecutors</a>
                           <a class="modal__link modal__link--sub" href="/work/indigent-defense-initiative">Indigent Defense</a>
                           <a class="modal__link modal__link--sub" href="/work/docket">Our Docket</a>
                       </div>
                    </li>
                    <li class="modal__item">
                      <a class="modal__link <%= 'disabled' if params[:controller] == 'team' %>" href="/team/staff">Team</a>
                        <div class="sub-menu" aria-labelledby="teamDropdown">
                           <a class="modal__link modal__link--sub" href="/team/staff">Staff</a>
                           <a class="modal__link modal__link--sub" href="/team/board">Board</a>
                           <a class="modal__link modal__link--sub" href="/team/fellows">Fellows</a>
                       </div>
                    </li>


                    </div>
                    <div class = "col-sm-6">
                      <li class="modal__item">
                        <a class="modal__link <%= 'disabled' if params[:controller] == 'home#contact' %>" href="/contact">Contact</a>
                      </li>
                      <li class="modal__item">
                          <a class="modal__link" href="/resources">Policy Resources</a>
                      </li>
                     <li class="modal__item">
                          <a class="modal__link" href="/donate">Donate</a>
                      </li>
                      <li class="modal__item">
                          <a class="modal__link" href="/jobs">Join Our Team</a>
                      </li>
                      <li class="modal__item">
                          <a class="modal__link" href="/media">Media</a>
                          <div class="modal_submenu" aria-labelledby="mediaDropdown">
                             <a class="modal__link modal__link--sub" href="/media/videos">Videos</a>
                             <a class="modal__link modal__link--sub" href="/media/coverage">Articles</a>
                         </div>
                      </li>
                    </div>
                </div>
                <div class = "social social--modal">
                    <a href = "https://twitter.com/CivRightsCorps" target = "_blank" class = "social__icon social__icon--dark"><i class="fab fa-twitter"></i></a>
                    <a href = "http://www.facebook.com/civilrightscorps.org" target = "_blank" class = "social__icon social__icon--dark"><i class="fab fa-facebook-f"></i></a>
                    <a href = "https://www.instagram.com/civrightscorps/" target = "_blank" class = "social__icon social__icon--dark"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
