 <nav class="header">
      <div class = "container">
       
        <ul class=" nav nav-fill nav-pills">
            <li class="nav-item">
                <a class="nav-link <%= 'disabled' if params[:controller] == 'work' %>" href="/work">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= 'disabled' if params[:controller] == 'home#contact' %>" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= 'disabled' if params[:controller] == 'team' %>" href="/team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= 'disabled' if params[:controller] == 'board' %>" href="/board">Board</a>
            </li>
            
            
             <% unless current_page?(root_path) %> 
                <li class="nav-item"> 
                    <h1><a href = "/" class = "brand">Civil Rights Corps</a></h1>         
                </li>
            <% end %>
            <li class="nav-item">
                <a class="nav-link <%= 'disabled' if params[:controller] == 'buttercms/posts' %>" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/files">Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/media">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jobs">Jobs</a>
            </li>
        </ul>
     </div>
    </nav>