<!DOCTYPE html>
<html>
  <head>
    <title>Civil Rights Corps</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Abel|Source+Code+Pro:200,400,700,900" rel="stylesheet">



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body <% if current_page?(root_path) %>class = "home" <% end %>>

    <%= render 'layouts/header' %>    
    <% unless current_page?(root_path) %>
      <div class = 'container'>
    <% end %>
     <%= yield %>
    <% unless current_page?(root_path) %>
      </div>
    <% end %>

    <%= render 'layouts/footer' %>   
  </body>
</html>
