<!DOCTYPE html>
<html>
  <head>
    <title>Civil Rights Corps</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Anton|Lato:100,300,400|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "<%= @bodyClass %>">
    <div class = "banner">
      <%= render 'layouts/header' %>   

      <% unless current_page?(root_path) %>
        <div class = 'container content-container'>
      <% end %>

      <%= yield %>

      <% unless current_page?(root_path) %>
        </div>
      <% end %>

    </div>
    <%= render 'layouts/footer' %>   
  </body>
</html>
