<!DOCTYPE html>
<html>
  <head>
    <title><%= if content_for?(:title) then yield(:title) + ' | ' end %>Civil Rights Corps</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="<%= if content_for?(:title) then yield(:title) + ' | ' end %>Civil Rights Corps"/>
    <meta name="twitter:title" content="<%= if content_for?(:title) then yield(:title) + ' | ' end %>Civil Rights Corps"/>

    <meta name='description' content='<%= yield_meta_tag(:description, 'Civil Rights Corps is a non-profit organization dedicated to challenging systemic injustice in the American legal system.') %>' />
    <meta name='twitter:description' content='<%= yield_meta_tag(:description, 'Civil Rights Corps is a non-profit organization dedicated to challenging systemic injustice in the American legal system.') %>' />
    <meta name='og:description' content='<%= yield_meta_tag(:description, 'Civil Rights Corps is a non-profit organization dedicated to challenging systemic injustice in the American legal system.') %>' />

    <meta property="og:image" content="<%= image_path("sharelogo.jpg") %>">
    <meta name="twitter:image" content="<%= image_path("sharelogo.jpg") %>">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@CivRightsCorps">


    <meta name='keywords' content='<%= yield_meta_tag(:keywords, 'civil, rights, corp, washington, lawyers') %>' />

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class = "<%= @bodyClass %>">
    <% unless current_page?(root_path) %>
      <div class = "header--flex">
      <% if asset_exists?('banners/'+ @bodyClass + '.jpg') %>
        <div class = "header-banner">
          <%= image_tag( @bodyClass + ".jpg" ) %>
        </div>
      <% end %>
    <% end %>

    <%= render 'layouts/header'%>

    <%= yield %>

    <% unless current_page?(root_path) %>
      </div>
    <% end %>


    <%= render 'layouts/footer' %>

  </body>
</html>
